<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body style="background-color: #e1e1e1;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h3 >MineIot</h3>
                <hr class="my-4">
                <h4 class="mb-5"> Sign in</h4>
                
                <button onclick="window.location.href='#google';" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                  type="submit"><i class="fab fa-google me-2"></i> Sign in with Google</button>
                <button onclick="window.location.href='#microsoft';" class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #000000;"
                  type="submit"><i class="fa-brands fa-microsoft"></i> Sign in with Microsoft</button>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://kit.fontawesome.com/49647a1270.js" crossorigin="anonymous"></script>
  </body>
</html>
